name: GitHub Actions Demo
'on':
  workflow_dispatch: 
#   pull_request:
#     branches:
#       - master
#     schedule:
#       - cron: '* 5 * * *'
jobs:
  Google-Test:
    strategy:
      matrix:
       version: [16]
       os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install
      - run: npm test   
        env:          
           CYPRESS_RECORD_KEY: ${{ secrets.RECORD_KEY }}
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
